
    div {
        background-color: #eb4343;
        text-align: center;
        color: white;
        font-size: 32px;
        font-style: bold;
    }
    p {
        background-color: green;
        color: white;
        font-size: 18px;
    }
    button {
        background-color: orange;
        color: black;
        font: size 18px;
        
    }